
body{
	font-family: 'Montserrat', sans-serif;
	color:#333;
	margin:0;
}
h1,h2,h3,h4,h5{
font-family: 'Playfair Display', serif;
}
img{
	max-width: 100%;
	height:auto;
}
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a{
	color:#bf35aa;
}
.galleryBody{
	-webkit-transform:translateY(100px);
	        transform:translateY(100px);
	margin-left:2rem;
	margin-right:2rem;
}
.navTop{	
		position:absolute;
		width:100%;
		top:0;
		padding-left:2rem;
		padding-top:.5rem;
		height:20px;
		z-index:0;

}
.navTop__logoDiv{
			display:inline-block;
			width:15%;
		}
.navTop__logo {
			width:100px;
						
		}
.navTop__Links{
			float:right;
			width:85%;
		}
.navTop__Links ul{	
				display:inline-block;
				text-align:right;
				z-index:10;
			}
.navTop__Links li{
				margin-left:2rem;
				display:inline-block;
			}
.navTop__Links a {
				text-decoration:none;
				font-family: 'Playfair Display', serif;
			}
.navTop__Links a:hover {
				color:black;
			}