
body{
	font-family: 'Montserrat', sans-serif;
	color:#333;
	margin:0;
}
h1,h2,h3,h4,h5{
font-family: 'Playfair Display', serif;
}
img{
	max-width: 100%;
	height:auto;
}
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a{
	color:#cd8384;
}
.wrapper{
	position:relative;
	clear:both;
	padding-left: 18px;
	padding-right: 18px;
	padding-top:67%;


}
.galleryBody{
	-webkit-transform:translateY(100px);
	        transform:translateY(100px);
	margin-left:2rem;
	margin-right:2rem;
}
.navTop{	
		position:relative;
		width:100%;
	

		z-index:0;

}
.navTop__logo {
			position:absolute;
		}
.navTop__logoImg {	
			width:100%;
			
		}
.navTop__Links{
			overflow:hidden;
			border-bottom-width:1px;
			border-bottom-color:black;	
			padding-right:36px;	
			padding-top:10px;
		
		}
.navTop__Links ul {	
			    display: -webkit-box;	
			    display: -ms-flexbox;	
			    display: flex;
			    -webkit-box-align: stretch;
			        -ms-flex-align: stretch;
			            align-items: stretch; /* Default */
			    -webkit-box-pack: justify;
			        -ms-flex-pack: justify;
			            justify-content: space-between;
			    width: 100%;
			    		
			}
.navTop__Links li{
				display:inline-block;
				text-align:center;
				padding-left:;
			}
.navTop__Links a {
				margin:2px;
				padding:2px;
				text-decoration: none;
				border-radius: 10px;
			    border-top: 3px solid #800102; /* Or whatever color you want */
			    border-bottom: 2px solid black;
			    border-left: 1px dotted #cd8384;
			    border-right: 1px dotted #cd8384;


				font-family: 'Playfair Display', serif;
				z-index:11;
				text-align:center;

		
			}
.navTop__Links a:hover {
				color:black;
			}