.navTop{	
		position:absolute;
		width:100%;
		top:0;
		padding-left:2rem;
		padding-top:.5rem;
		height:20px;
		z-index:0;
		
		&__logoDiv{
			display:inline-block;
			width:15%;
		}
		&__logo {
			width:100px;
						
		}
		&__Links{
			float:right;
			width:85%;
			& ul{	
				display:inline-block;
				text-align:right;
				z-index:10;
			}
			& li{
				margin-left:2rem;
				display:inline-block;
			}
			& a {
				text-decoration:none;
				font-family: 'Playfair Display', serif;
			}
			& a:hover {
				color:black;
			}
		}

}
