.navTop{	
		position:absolute;
		width:100%;
		z-index:1;
		margin-left:3px;
		@mixin at10 {visibility:hidden;}		
		&__logo {position:absolute;top:0;}
		&__logoImg {width:100%;}
		&__Links{
			position:absolute;
			top:0;
			width:100%;
			overflow:hidden;
				display: flex;
			    align-items: stretch; /* Default */
			    justify-content: space-between;
			    @mixin at00 { top:15px;}
			    @mixin at0 { top:20px;}
				@mixin at1 {top:25px;}
				@mixin at2 {top:30px;}
				@mixin at3 {top:35px;}
				@mixin at4 {top:40px;}
				@mixin at5 {top:45px;}
				@mixin at6 {top:50px;}
				@mixin at7 {top:55px;}
				@mixin at8 {top:60px;}
				@mixin at9 {top:65px;}
				

			& li{
				display:inline-block;
				text-align:center;
				z-index:2;
			}
			& a {
				color:$mainRed;
				font-family: 'Playfair Display', serif;
				z-index:3;
				text-decoration: none;
				@mixin at00 {font-size:1rem;}
				@mixin at0 {font-size:1rem;}
				@mixin at1 {font-size:1.25rem;}
				@mixin at2 {font-size:1.5rem;}
				@mixin at3 {font-size:1.75rem;}
				@mixin at4 {font-size:2rem;}
				@mixin at5 {font-size:1.75rem;}
				@mixin at6 {font-size:2rem;}																	
			}
			& a:hover {
				color:black;
			}		
		}
		&__Glyphs{
			position:absolute;
			width:100%;
			z-index:13;
			overflow:hidden;
			display: flex;
			 align-items: stretch; /* Default */
			 justify-content: space-between;
			 bottom:25px;
			 
			 
			 	@mixin at00 {bottom:15px;}
				@mixin at0 {bottom:15px;}
				@mixin at1 {bottom:20px;}
				@mixin at2 {bottom:20px;}
				@mixin at3 {bottom:25px;}
				@mixin at4 {bottom:25px;}
				@mixin at5 {bottom:30px;}
				@mixin at6 {bottom:30px;}
				@mixin at7 {bottom:35px;}
				@mixin at8 {bottom:35px;}
				@mixin at9 {bottom:40px;}		 
			&__svg{
			 	@mixin at00 {height:40px;}
				@mixin at0 {height:55px;}
				@mixin at1 {height:60px;}
				@mixin at2 {height:65px;}
				@mixin at3 {height:70px;}
				@mixin at4 {height:75px;}
				@mixin at5 {height:80px;}
				@mixin at6 {height:85px;}
				@mixin at7 {height:90px;}
				@mixin at8 {height:95px;}
				@mixin at9 {height:100px;}
			}
			&__svg--lg{
				z-index:15;
				@mixin at00 {height:50px;transform:translateY(5px);}
				@mixin at0 {height:85px;transform:translateY(10px);}
				@mixin at1 {height:95px;}
				@mixin at2 {height:100px;}
				@mixin at3 {height:105px;}
				@mixin at4 {height:110px;}
				@mixin at5 {height:115px;}
				@mixin at6 {height:120px;}
				@mixin at7 {height:170px;}
				@mixin at8 {height:200px;}
				@mixin at9 {height:250px;}
			}			

		}
}
/*
				text-decoration: none;
				border-radius: 10px;
			    border-top: 3px solid $mainRedDk;  Or whatever color you want 
			    border-bottom: 2px solid black;
			    border-left: 1px dotted $mainRed;
			    border-right: 1px dotted $mainRed;
*/
/*
 				@mixin at00 {}
				@mixin at0 {}
				@mixin at1 {}
				@mixin at2 {}
				@mixin at3 {}
				@mixin at4 {}
				@mixin at5 {}
				@mixin at6 {}
				@mixin at7 {}
				@mixin at8 {}
				@mixin at9 {}
				@mixin at10 {}																	




 */
