.wrapper{
	position:absolute;
	z-index:0;
	left:15px;
	margin-left:10px;
				@mixin at00 {top:250px;}
				@mixin at0 {top:300px;}
				@mixin at1 {top:350px;}
				@mixin at2 {top:420px;}
				@mixin at3 {top:480px;}
				@mixin at4 {top:520px;}
				@mixin at5 {top:580px;}
				@mixin at6 {top:640px;}
				@mixin at7 {top:740px;}	
				@mixin at8 {top:840px;}	
				@mixin at9 {top:940px;}	
				@mixin at10 {position:relative;}																		


}

/* 
				@mixin at0 {}
				@mixin atQuantum {}
				@mixin atMicro {}
				@mixin atTiny {}
				@mixin atSmall {}
				@mixin atMedium {}
				@mixin atLarge {}																	
 */